Title: Cake.Markdown-Pdf
---
<h1>What is it?</h1>
Cake.Markdown-Pdf is a set of aliases for Cake to run the node module <a href="https://github.com/alanshaw/markdown-pdf">markdown-pdf</a> from Cake build scripts.

<h1>Scope</h1>
<p>The project began as a tutorial series of <a href="http://wbates.net/posts/baking-a-cake-addin-part-1">blog posts</a> on creating Cake addins.</p>
<p>Cake.Markdown-Pdf is a feature complete means of using markdown-pdf from within cake build scripts.</p>